INCLUDE symbols.ld
INCLUDE locals.ld

ENTRY(%%START%%)

SECTIONS 
{
  .sm64 %%LINKER%% : 
  {
    *(.data._start)
    *(.text*)
    *(.rodata*)
    *(.data*)
    *(.bss*)
  } =0x0
  
  .crap : { *(.shstrtab*) }
  
  /DISCARD/ :
  {
	*(*)
  }
}